# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code config (optional to ignore)
/.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Dart2JS Output (Optional if you don't write JavaScript manually)
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android build artifacts
/android/app/debug/
/android/app/profile/
/android/app/release/

# dotenv environment files
.env*
